#list_friend {
    list-style-type: none;

}
ion-button{
    margin:0px
}
#list_friend div {
    padding: 10px;
    margin: auto;
    margin-top:10px;
    text-align: center;
    border:  2px #f1dca7 solid;
    border-radius: 35px;
    background :url('../../../assets/img/woodbg.jpg');
    font-weight: bold;

}
#list_friend div p {
    margin:auto 0;
    border-left: 1px black solid
}
.active .button-native{
    color: #478AFF !important;
    background-color: white !important;
}
#flex {
    justify-content:center
}
#count_inv {
    position: relative;
    top: -20%;
    /* right: -30%; */
    border: 1px black solid;
    border-radius: 100%;
    padding: 3px;
    background: darkred;
}
.main_bg_img{
    background: url('../../../assets/img/Lawachara_Forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}