ion-title,
ion-menu-button {
    --color: var(--ion-color-primary);
}
table {
    width: 100%;
}
.main_bg_img{
    background: url('../../../assets/img/Lawachara_Forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}
.block_att {
    width:80%;
    padding: 10px;
    margin: auto;
    margin-top:10px;
    text-align: center;
    border:  2px #f1dca7 solid;
    border-radius: 35px;
    background :url('../../../assets/img/woodbg.jpg');
    font-weight: bold;
}