<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Scénarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="row main_bg_img">
        <div class="col-lg-2 offset-lg-2 offset-sm-0">
            <h2 class="text-center block_att">En route pour l'aventure</h2>
            <table >
                <tbody *ngFor="let scenario of scenarios">
                    <tr>
                        <td>
                            <ion-card>
                                <ion-card-header>
                                    <ion-card-title>{{ scenario.name }}</ion-card-title>
                                    <ion-card-subtitle>{{ scenario.resume }}</ion-card-subtitle>
                                    <ion-card-subtitle>{{ scenario.tags }}</ion-card-subtitle>
                                    <ion-button [routerLink]="['/play', scenario.id]">Jouer</ion-button>
                                </ion-card-header>
                            </ion-card>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2 offset-lg-1 offset-sm-0" *ngIf="unfinishedDetail.length > 0">
            <h2 class="text-center block_att">Mes scénarios en cours</h2>
            <table>
                <tbody *ngFor="let scenario of unfinishedDetail">
                    <tr>
                        <td>
                            <ion-card>
                                <ion-card-header>
                                    <ion-card-title>{{ scenario.item.name }}</ion-card-title>
                                    <ion-card-subtitle>{{ scenario.item.resume }}</ion-card-subtitle>
                                    <ion-card-subtitle>{{ scenario.item.tags }}</ion-card-subtitle>
                                    <ion-button [routerLink]="['/play', scenario.item.id, scenario.id_step, scenario.id_save]">Reprendre ma partie</ion-button>
                                    <ion-button (click)="deleteScenario(scenario.id_save)">Delete</ion-button>
                                </ion-card-header>
                            </ion-card>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2 offset-lg-1 offset-sm-0" *ngIf="finishedDetail.length > 0">
            <h2 class="text-center block_att">Mes scénarios terminés</h2>
            <table>
                <tbody *ngFor="let scenario of finishedDetail">
                    <tr>
                        <td>
                            <ion-card>
                                <ion-card-header>
                                    <ion-card-title>{{ scenario.item.name }}</ion-card-title>
                                    <ion-card-subtitle>{{ scenario.item.resume }}</ion-card-subtitle>
                                    <ion-card-subtitle>{{ scenario.item.tags }}</ion-card-subtitle>
                                </ion-card-header>
                            </ion-card>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ion-content>