<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Nouveau mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="!checkPasswordState">Les mots de passe que vous avez renseigné ne sont pas identiques</ion-item>
  <form (ngSubmit)="sendNewPassword()" [formGroup]="NpData">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
              <ion-label position="stacked">Mot de passe
                  <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required type="password" formControlName="password" name="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Vérification du mot de passe
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="password" formControlName="checkPassword" name="checkPassword"></ion-input>
        </ion-item>
          <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin" color="primary" type="submit">Enregistrer</ion-button>
          </div>
      </ion-list>
  </form>


</ion-content>