<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Créer un compte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form (ngSubmit)="Register()" [formGroup]="RegisterData">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="stacked">Email
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="email" formControlName="email" name="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Password
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="password" formControlName="password" name="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Firstname
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" formControlName="firstname" name="firstname"></ion-input>
            </ion-item><ion-item>
                <ion-label position="stacked">Lastname
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" formControlName="lastname" name="lastname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Username
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" formControlName="username" name="username"></ion-input>
            </ion-item>
            
            <div class="ion-padding">
                <ion-button expand="block" type="submit" class="ion-no-margin" color="primary" type="submit">Inscription</ion-button>
            </div>
            <div class="ion-padding">
                <ion-button expand="block" class="ion-no-margin" color="primary" routerLink="/login">J'ai déjà un compte</ion-button>
            </div>
        </ion-list>
    </form>

</ion-content>