<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Jouer</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div id="shoopy_content" class="main_bg_img" *ngIf="loading; else loadTemplate">
        <img id="shoopy_gif" src="../assets/img/Shoopy.gif" *ngIf="(gv.user.username == 'Whhynd' || gv.user.username == 'KaitenJr' || gv.user.username == 'Akama40K') ; else shoopydefault" />
        <ng-template #shoopydefault><img id="shoopy_img" src="../../../assets/img/Shoopy{{gv.user.id_shoopy - 1 || 0}}.png"></ng-template>
        
        <div id="block_att"></div>
        <div id="block_choice">
        <button *ngFor="let chx of choice" [ngStyle]="{'width.%': 100/choice.length}" class="btn_chx" (click)="loadNextStep(chx.child)"><p>{{chx.action}}</p></button>
        <button *ngIf="isFinished" id="end" class="btn_chx" [ngStyle]="{'width.%':100, 'height.%':100, 'margin':0}" (click)="endScenario()"><p>Fin</p></button>
        </div>
    </div>
    <ng-template #loadTemplate class="main_bg_img"><img id="shoopy_gif" src="../../../assets/img/Loadingsome.gif"/></ng-template>

</ion-content>