<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Jouer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Jouer</ion-title>
        </ion-toolbar>
    </ion-header>
    <img src="../../../assets/img/Shoopy{{user.id_shoopy - 1 || 0}}.png" style="width: 80px;">
    <div id="block_att"></div>
    <div id="block_choice"></div>
</ion-content>