<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Accueil</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div id="shoopy_content" class="main_bg_img">
        <img src="../../../assets/Shoopy0.png">
        <div id="block_att">
            <p>Salut ! Moi C'est Shoopy ! N'hésite pas à te rendre sur <a href="http://localhost:4200/">mon site</a> pour en savoir plus.</p>
        </div>
    </div>
</ion-content>