<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Publier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Publier</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #newOfferForm="ngForm" (ngSubmit)="submitForm()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Titre<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="title" name="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Sous-titre<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="description" name="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Prix<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="number" [(ngModel)]="price" name="price"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Lieu de vente</ion-label>
        <ion-input type="text" [(ngModel)]="sellingPlace" name="sellingPlace"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea [(ngModel)]="longDescription" name="longDescription"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" color="primary" [disabled]="!newOfferForm.form.valid">Valider</ion-button>
    </div>

  </form>

</ion-content>